[submodule "quick2wire-gpio-admin-master"]
	path = quick2wire-gpio-admin-master
	url = https://github.com/quick2wire/quick2wire-gpio-admin.git
[submodule "node_modules/pi-gpio"]
	path = node_modules/pi-gpio
	url = https://github.com/rakeshpai/pi-gpio.git
[submodule "node_modules/websocket"]
	path = node_modules/websocket
	url = https://github.com/Worlize/WebSocket-Node.git
